*{
  margin: 0;
  padding: 0;
  font-family: "Amble", Arial;
}
body{
  background-color: #E7EAEF;
}
div.back{
  width: 100%;
  height: 250px;
  background-color: #5683A4;
}

div.main_a{

  width: 80%;
  /*height: 1000px;*/

  margin: 0 auto;
  position: relative;
  top: -200px;
  display: flex;
  flex-direction: column;
}
div.bottom,div.top,div.mid{
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

ul.parter_list_container{
  list-style: none;
  width: 100%;
  height: 80%;
  overflow: auto;
  white-space: nowrap;

}
div.partner_content{
  width: 100%;
  height: 100%;


}
h1{
  display: inline-block;
}
a{
  width: 100%;
  height: 20px;
  display: inline-block;

}
article.percent{
  width: 100%;
  height: 35%;
  border-radius: 100%;
  text-align: center;
  line-height: 80px;
  border: 1px solid black;
  font-weight: bold;

}
div.stand{
  width: 15%;
  height: 10%;
  border: 1px solid black;
  margin: 0 auto;
}
article.name_partner_company{
  width: 100%;
  height: 55%;
  border: 1px solid black;
  text-align: center;
  font-weight: bold;
  line-height: 100px;
}
li.partner_container{
  display: inline-block;
  width: 15%;
  height: 98%;
  margin-right: 10px;
margin-left: 10px;
}
section.company_partners{
  width: 100%;
  height: 100%;
  background-color: white;

}
section{
  width: 100%;
  height: 100%;
  border: 1px solid #DFDFDF;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 10px;
}
h3{
  height: 35px;
  line-height: 35px;
  background-color: #EEEEEE;
  text-align: center;

  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
article.total{
  width: 40%;
  height: 70%;
  border: 2px solid black;
  border-radius: 100%;
  margin: auto;
  margin-top: 5%;
  text-align: center;
  line-height: 190px;
  font-size: 40px;
  display: none;
}
ul{
  height: 80%;
  list-style: none;
  overflow-y: scroll;
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
}
ul li.list_companies_item{
  display: block;
  height: 50px;
  border: 1px solid black;
  cursor: pointer;
  text-align: center;
  line-height: 50px;
}
.chosed  {
  background-color: #5683A4;
}

@media screen and (min-width: 320px) {
  div.main_a{
    width: 80%;
    height: 900px;

    margin: 0 auto;
    position: relative;
    top: -200px;
    display: flex;
    flex-direction: column;
  }
  div.bottom,div.top,div.mid{
    width: 100%;
    height: 40%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  div.mid{
    display: none;
  }
  section.company_partners{
    width: 100%;
    height: 90%;

  }
  section.company_partners > h3{
    text-align: left;
    float: left;
  }
  div.sort_container{
    float: right;
  }
  section{
    width: 48%;
    height: 90%;
    background-color: white;
    border: 1px solid #DFDFDF;
  }
}
div.sort_container{
  display: flex;
  width: 23%;
  justify-content: space-between;
  margin-right: 20px;
  margin-top: 10px;
}
div.up:hover{
  cursor: pointer;
  border-bottom: 15px solid #5683A4;
}
div.down:hover{
  cursor: pointer;
  border-top: 15px solid #5683A4;
}

div.up{
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;

  border-bottom: 15px solid black;
  margin-bottom: 2.5px;

}
div.down{
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 15px solid black;
  margin-top: 2.5px;
}
/* LOADER*/
div.carousel{
  width: 100%;
  overflow: hidden;
  display: none;
}
div.slides{
  width: 1000%;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

div.news{
  width: 10%;
  height: auto;
  display: block;
  margin: 0 auto;
  float: left;
}
nav.navigation_slider{
  position: relative;
  width: 100%;
}
nav.navigation_slider ul{
  overflow: hidden;
  list-style: none;
  text-align: center;
  position: relative;
}
nav.navigation_slider ul li{
  display: inline-block;
  width: 45%;
  height: 15px;
  background-color: black;

  cursor: pointer;
  color: white;
}
nav.navigation_slider ul li:hover{
  background-color: #5683A4;
}

article.news_content{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
figure {
  width: 40%;
  height: auto;
  margin: 5%;
}
article.paragrapher{
  width: 60%;
  height: auto;
  margin: 5%;
}
figure img{
  width: 100%;
  height: 140px;
}

/*Companies location */
span.name_locarion_company{
  margin-top: 50%;
  font-size: 13px;
}
div.companies_location{
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: row;
  padding-left: 5%;
  padding-right: 5%;
}
div.grafic{
  width: 15%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
div.container_location{
  width: 100%;
  background-color: green;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}
span.percent_company_location{
  width: 100%;
  color: white;
  text-align: center;
  /*margin: 20%;*/
}
ul.listOfComInCountries{
  display: none;
}
button.back{
  width: 50px;
  height: 30px;
  border-radius: 15px;
  margin: 15px;
  background-color: red;
  overflow: hidden;
  cursor: pointer;
  font-weight: bold;
  display: none;
  position: absolute;
  margin-top: -10px;
}
/*loader*/
div.main_loader{
  margin: 0 auto;
  position: relative;
  top: -200px;

}
.s2 {
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: transparent;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
}

.s1 {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 50vh;
  left: 50%;
  transform-origin: center;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: transparent;
}

.bigcon {
  position: absolute;
  height: 95px;
  width: 95px;
  top: 50vh;
  left: 50%;
  transform-origin: center;
  transform: translate(-50%, -50%) rotate(-45deg);
  background-color: transparent;
  animation: bigcon 2s infinite linear;
  animation-delay: 0.25s;
}

.b {
  border-radius: 50%;
  position: absolute;
}

.s {
  width: 25px;
  height: 25px;
  animation: small 2s infinite ease;
  box-shadow: 0px 2px rgba(0,0,0,0.3);
   background-color: #46b9ff;
}

.s:nth-child(1) {
  top: 0%;
  left: 0%;
}

.s:nth-child(2) {
  top: 0%;
  right: 0%;
}

.s:nth-child(3) {
  right: 0%;
  bottom: 0%;
}

.s:nth-child(4) {
  bottom: 0%;
  left: 0%;
}

.big {
  width: 20px;
  height: 20px;
  border-radius: 15px;
  box-shadow:0px 0px 10px #54f7f8, 0px 0px 20px #54f7f8, 0px 0px 30px #54f7f8, 0px 0px 50px #54f7f8, 0px 0px 60px #54f7f8 ;
  z-index: 1;
  background-color: #54f7f8;
  animation: bigball 1s infinite linear;
}

.sb1{
  animation-delay: -1.75s;
}
.sb6{
  animation-delay: -1.5s;
}
.sb2{
  animation-delay: -1.25s;
}
.sb7{
  animation-delay: -1s;
}
.sb3{
  animation-delay: -0.75s;
}
.sb8{
  animation-delay: -0.5s;
}
.sb4{
  animation-delay: -0.25s;
}
.sb5{
  animation-delay: -0s;
}

@keyframes bigcon {
  0% {
    transform-origin: center;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  100% {
    transform-origin: center;
    transform: translate(-50%, -50%) rotate(405deg);
  }
}

@keyframes small {
  0% {
    transform: scale(1);
     background-color: #46b9ff;
  }
  10% {
    transform: scale(1.3);
    background-color: #54f7f8;
  }
  15% {
    transform: scale(1);
  }
  25%{
transform: scale(1);
     background-color: #46b9ff;
  }
  100%{
    transform: scale(1);
     background-color: #46b9ff;
  }
}

@font-face {
  font-family: "Amble";
  src: url('../amble/Amble-Regular.ttf') format('truetype');
}
