*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #E7EAEF;
}
div.back{
  width: 100%;
  height: 250px;
  background-color: #5683A4;
}
div.main_loader{
  margin: 0 auto;
  position: relative;
  top: -200px;
  /*display: none;*/
}
div.main_a{

  width: 80%;
  /*height: 1000px;*/

  margin: 0 auto;
  position: relative;
  top: -200px;
  display: flex;
  flex-direction: column;
}
div.bottom,div.top,div.mid{
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

ul.parter_list_container{
  list-style: none;
  width: 100%;
  height: 80%;
  overflow: auto;
  white-space: nowrap;

}
div.partner_content{
  width: 100%;
  height: 100%;


}
article.percent{
  width: 100%;
  height: 35%;
  border-radius: 100%;
  border: 1px solid black;
}
div.stand{
  width: 15%;
  height: 10%;
  border: 1px solid black;
  margin: 0 auto;
}
article.name_partner_company{
  width: 100%;
  height: 55%;
  border: 1px solid black;
}
li.partner_container{
  display: inline-block;
  width: 15%;
  height: 98%;
  margin-right: 10px;
margin-left: 10px;
}
section.company_partners{
  width: 100%;
  height: 100%;
  background-color: white;

}
section{
  width: 100%;
  height: 100%;
  border: 1px solid #DFDFDF;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 10px;
}
h3{
  height: 35px;
  line-height: 35px;
  background-color: #EEEEEE;
  text-align: center;

  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
article.total{
  width: 40%;
  height: 70%;
  border: 2px solid black;
  border-radius: 100%;
  margin: auto;
  margin-top: 5%;
  text-align: center;
  line-height: 190px;
  font-size: 40px;
}
ul{
  height: 80%;
  list-style: none;
  overflow-y: scroll;
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
}
ul li.list_companies_item{
  display: block;
  height: 50px;
  border: 1px solid black;
  cursor: pointer;
}
@media screen and (min-width: 320px) {
  div.main_a{
    width: 80%;
    height: 900px;

    margin: 0 auto;
    position: relative;
    top: -200px;
    display: flex;
    flex-direction: column;
  }
  div.bottom,div.top,div.mid{
    width: 100%;
    height: 40%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  div.mid{
    display: none;
  }
  section.company_partners{
    width: 100%;
    height: 90%;

  }
  section.company_partners > h3{
    text-align: left;
    float: left;
  }
  div.sort_container{
    float: right;
  }
  section{
    width: 48%;
    height: 90%;
    background-color: white;
    border: 1px solid #DFDFDF;
  }
}
div.sort_container{
  display: flex;
  width: 23%;
  justify-content: space-between;
  margin-right: 20px;
  margin-top: 10px;
}
div.up:hover{
  cursor: pointer;
  border-bottom: 15px solid #5683A4;
}
div.down:hover{
  cursor: pointer;
  border-top: 15px solid #5683A4;
}

div.up{
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;

  border-bottom: 15px solid black;
  margin-bottom: 2.5px;

}
div.down{
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 15px solid black;
  margin-top: 2.5px;
}
/* LOADER*/
div.carousel{
  width: 100%;
  overflow: hidden;
}
div.slides{
  width: 1000%;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

div.news{
  width: 10%;
  height: auto;
  display: block;
  margin: 0 auto;
  float: left;
}
nav.navigation_slider{
  position: relative;
  width: 100%;

  background-color: green;
}
nav.navigation_slider ul{
  overflow: hidden;
  list-style: none;
  text-align: center;
}
nav.navigation_slider ul li{
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 100%;
  cursor: pointer;
  color: white;
}
nav.navigation_slider ul li:hover{
  background-color: pink;
}

article.news_content{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
figure {
  width: 40%;
  height: auto;
  margin: 5%;
}
p{
  width: 60%;
  height: auto;
  margin: 5%;
}
figure img{
  width: 100%;
  height: 140px;
}

/*Companies location */
span.name_locarion_company{
  margin-top: 50%;
  font-size: 13px;
}
div.companies_location{
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: row;
  padding-left: 5%;
  padding-right: 5%;
}
div.grafic{
  width: 15%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
div.container_location{
  width: 100%;
  background-color: green;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}
span.percent_company_location{
  width: 100%;
  color: white;
  text-align: center;
  /*margin: 20%;*/
}
ul.listOfComInCountries{
  display: none;
}
button.back{
  width: 50px;
  height: 30px;
  border-radius: 15px;
  margin: 15px;
  background-color: red;
  overflow: hidden;
  cursor: pointer;
  font-weight: bold;
  display: none;
  
}
